*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Caudex', serif;
}
h1{
    font-size: 50px;
    line-height: 100px;
}
p{
    margin-bottom: 30px;
}
.color-highlight{
    color: orange;
}
section{
    width: 100%;
    height: 500px;
}
.top-section{
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
}
.half{
    width:40%;
    margin-left:5%;
    padding:2%;
    float: left;
}
.half img{
    margin-top: 10px;
    width: 100%;
    height: 400px;

}

.button-style{
    text-decoration: none;
    background-image: linear-gradient(90deg,#FB6756,#684DDB );
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
   
}
.middle-section{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:  right;
}
.experi{
    line-height: 30px;
}
.list{
    list-style: none;
    line-height: 30px;
}

footer{
    text-align: center;
    padding: 10px;
}

.box{
    height: 50%;
    width: 37%;
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid;
    background-color: white;
}

.others-section{
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.exp{
    border-image: linear-gradient(180deg,#016B38,#F7C1AB);
    border-image-slice: 1;
}
.skd{
    border-image: linear-gradient(180deg,tomato,purple);
    border-image-slice: 1;
}
