*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Caudex', serif;
}
.top{
    font-size: 50px;
    line-height: 100px;
}
.headline{
    font-size: 40px;
    color: #51C58B;
}
p{
    margin-bottom: 30px;
}
.color-highlight{
    color: orange;
}
section{
    width: 100%;
    height: 500px;
}
.top-section{
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
}
.half{
    width:40%;
    margin-left:5%;
    padding:2%;
    float: left;
}
.half img{
    margin-top: 10px;
    width: 100%;
    height: 400px;

}

.button-style{
    text-decoration: none;
    background-image: linear-gradient(90deg,#FB6756,#684DDB );
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
   
}

.button-style{
    transform: scale(1.05);
}
.middle-section{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:  right;
}
.experi{
    line-height: 30px;
}
.list{
    list-style: none;
    line-height: 30px;
}

footer{
    text-align: center;
    margin: 10px auto;
   
}

.box{
    height: 50%;
    width: 37%;
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid;
    background-color: white;
    transition-duration: .5s;
}
.box:hover{
    transform: scale(1.05);
}

.others-section{
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.exp{
    border-image: linear-gradient(180deg,#5C1102,#684DDB);
    border-image-slice: 1;
}
.skd{
    border-image: linear-gradient(180deg,#08F4C4,#369FF3);
    border-image-slice: 1;
}


#git{
    font-size: 35px;
    margin-left: 50px;
    color: black;
}

#lin{
    font-size: 35px;
    margin-left: 50px;
    color: #0A66C2;
}
#name{
    color: #44B47A;
}
